.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 100%;
  max-width: 200px;
  background-color: #1111;
  padding: 15px;
  border-radius: 6px;
}

.App button {
  border: none;
  background-color: rgb(175, 174, 174);
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}
